@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-thinkpad-base: #0a0b10;
  --color-thinkpad-surface: #16181d;
  --color-thinkpad-red: #ff002b;
  --color-thinkpad-text: #e2e8f0;
  --color-thinkpad-muted: #64748b;
  --color-thinkpad-accent: #ff002b;
  --color-neon-blue: #0ea5e9;
}

@layer base {
  body {
    @apply bg-thinkpad-base text-thinkpad-text font-sans antialiased selection:bg-thinkpad-red selection:text-white;
  }
}

/* Custom Scrollbar for the Ninja look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-thinkpad-base;
}
::-webkit-scrollbar-thumb {
  @apply bg-thinkpad-surface rounded border border-thinkpad-base;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-thinkpad-red;
}
